<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
  	<welcome-file>page_login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>CheckLoginServlet</servlet-name>
  	<display-name>CheckLoginServlet</display-name>
  	<description></description>
  	<servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayHostServlet</servlet-name>
  	<display-name>DisplayHostServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DisplayHostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailHostServlet</servlet-name>
  	<display-name>DetailHostServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DetailHostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Overview_Controller</servlet-name>
  	<display-name>Overview_Controller</display-name>
  	<description></description>
  	<servlet-class>controller.Overview_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<display-name>ChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KillProcessServlet</servlet-name>
  	<display-name>KillProcessServlet</display-name>
  	<description></description>
  	<servlet-class>controller.KillProcessServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckSSHLoginServlet</servlet-name>
  	<display-name>CheckSSHLoginServlet</display-name>
  	<description></description>
  	<servlet-class>controller.CheckSSHLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayProcessHighCpuServlet</servlet-name>
  	<display-name>DisplayProcessHighCpuServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DisplayProcessHighCpuServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayProcessHighMemoryServlet</servlet-name>
  	<display-name>DisplayProcessHighMemoryServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DisplayProcessHighMemoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddHostServlet</servlet-name>
  	<display-name>AddHostServlet</display-name>
  	<description></description>
  	<servlet-class>controller.AddHostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateHostServlet</servlet-name>
  	<display-name>UpdateHostServlet</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateHostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteHostServlet</servlet-name>
  	<display-name>DeleteHostServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteHostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckLoginServlet</servlet-name>
  	<url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayHostServlet</servlet-name>
  	<url-pattern>/DisplayHostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailHostServlet</servlet-name>
  	<url-pattern>/DetailHostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Overview_Controller</servlet-name>
  	<url-pattern>/Overview_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KillProcessServlet</servlet-name>
  	<url-pattern>/KillProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckSSHLoginServlet</servlet-name>
  	<url-pattern>/CheckSSHLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayProcessHighCpuServlet</servlet-name>
  	<url-pattern>/DisplayProcessHighCpuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayProcessHighMemoryServlet</servlet-name>
  	<url-pattern>/DisplayProcessHighMemoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddHostServlet</servlet-name>
  	<url-pattern>/AddHostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateHostServlet</servlet-name>
  	<url-pattern>/UpdateHostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteHostServlet</servlet-name>
  	<url-pattern>/DeleteHostServlet</url-pattern>
  </servlet-mapping>
</web-app>